NODE_ENV=development
PORT=3000
CORS_ORIGIN=http://localhost:5500,http://127.0.0.1:5500
APP_WEB_URL=http://localhost:5500

DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=users-management-service
DB_USERNAME=postgres
DB_PASSWORD=postgres

JWT_ACCESS_SECRET=change-me-access
JWT_REFRESH_SECRET=change-me-refresh

OWNER_ADMIN_EMAIL=admin@email.com
OWNER_ADMIN_PASSWORD=Owner!12345
OWNER_ADMIN_FIRST_NAME=System
OWNER_ADMIN_LAST_NAME=Owner

CSV_EMAIL_THRESHOLD_BYTES=5242880
